apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: hello-gitops
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/vlrsk/dev_dataops.git
    targetRevision: main
    path: cicd_cloud_kubernetes/k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: hello-gitops
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true