apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-gitops-green
  labels:
    app: hello-gitops
    color: green
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  replicas: 0
  selector:
    matchLabels:
      app: hello-gitops
      color: green
  template:
    metadata:
      labels:
        app: hello-gitops
        color: green
    spec:
      containers:
        - name: hello-gitops
          image: vskorodziievskyi/hello-gitops:e8538098e06fab8bd6116d4e009a766b84d8727a
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8050
          readinessProbe:
            httpGet:
              path: /
              port: 8050
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /
              port: 8050
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 6
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
